*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0 auto;
  font-family: IBM Plex Mono, Arial, Helvetica, sans-serif;
  min-inline-size: 375px;
  max-inline-size: 1440px;
}

button {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  letter-spacing: 1px;
  text-transform: lowercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--section-color-frame);
}

a:hover {
  border-bottom: 1px solid var(--text-description-color);
}

button:hover {
  border: 1px solid var(--color-hover);
}

a:focus {
  outline: none;
}

a:focus-visible {
  border: 1px solid var(--text-description-color);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-bottom: 1px solid var(--section-color-title);
}
