.header__decorated-element {
  display: none;
}

.page.theme_light {
  --bcg-color: #fff1f7;
  --title-color: #ffc2e6;
  --shadow-color: #ff0070;
  --section-color-frame: #ff8dcb;
  --section-color-title: #353430;
  --section-color-title-frame: #353430;
  --text-description-color: #353430;
  --color-hover: #32312d66;
  --cover-image: url(/images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bcg-color: #fff1f7;
    --title-color: #ffc2e6;
    --shadow-color: #ff0070;
    --section-color-frame: #ff8dcb;
    --section-color-title: #353430;
    --section-color-title-frame: #353430;
    --text-description-color: #353430;
    --cover-image: url(/images/cover-image-light.png);
  }
}
