/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
.page {
  background-color: var(--bcg-color);
  background-size: cover;
  background-attachment: fixed;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: IBM Plex Mono, Arial, Helvetica, sans-serif;
}

button {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 25%);
  width: 100%;
  min-width: 375px;
  max-width: 768px;
  height: 668px;
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
}

.decorated-zone {
  position: relative;
  min-width: 386px;
  height: 668px;
  background-color: var(--bcg-color);
}

.decorative-frame::before,
.decorative-frame::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 11px;
  margin-left: 10px;
  border-style: solid;
}

.decorative-frame::before {
  top: 0;
  right: 20px;
  border-width: 1px 1px 0 0;
  border-color: var(--section-color-frame);
}

.decorative-frame::after {
  bottom: 0px;
  left: 0;
  border-width: 0 0 1px 1px;
  border-color: var(--section-color-frame);
}

.header__decorated-element {
  position: relative;
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  justify-self: end;
  margin-top: 13px;
  margin-right: 52px;
  color: var(--section-color-frame);
}

.header__decorated-element::after {
  content: url(/images/Ellipse\ 4.svg);
  position: absolute;
  top: 1px;
  right: -15px;
  width: 10px;
  height: 10px;
}

.header__nav {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  justify-self: end;
  margin-top: -110px;
  margin-right: 25px;
  padding: 0;
}

.header__theme-menu-list {
  color: var(--section-color-frame);
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  list-style-type: none;
}

.header__theme-menu-item {
  padding-bottom: 9px;
}

.header__title {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1; 
  margin-top: -100px;
  margin-left: 10px;
  color: var(--title-color);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 86.5%;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

.header__text {
  grid-column: 1 / span 4;
  grid-row: 4 / span 1;
  width: 355px;
  height: 117px;
  margin: -16px 0 10px 12px;
  color: var(--section-color-title-frame);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background: var(--section-color-frame);
}
/*------------------------main------------------------------------------*/

.main__section-one,
.main__section-two,
.main__section-three,
.main__section-four {
  display: grid;
  width: 100%;
  padding: 10px;
}

/*---------grid section1-----------*/

.main__section-one {
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 375px;
}
.main__section-one-title {
  grid-row: 1 / span 1;
}

.main__section-one-title-with-colored-frame1 {
  grid-row: 2 / span 1;
}
.main__section-one-description1 {
  grid-row: 3 / span 1;
}

.main__section-one-title-with-colored-frame2 {
  grid-row: 4 / span 1;
}
.main__section-one-description2 {
  grid-row: 5 / span 1;
}

/*--------grid section2-------------*/

.main__section-two {
  grid-template-rows: repeat(7, auto);
  grid-template-columns: 375px;
}
.main__section-two-title {
  grid-row: 1 / span 1;
}

.main__section-two-title-with-colored-frame1 {
  grid-row: 2 / span 1;
}
.main__section-two-description1 {
  grid-row: 3 / span 1;
}

.main__section-two-title-with-colored-frame2 {
  grid-row: 4 / span 1;
}
.main__section-two-description2 {
  grid-row: 5 / span 1;
}

.main__section-two-title-with-colored-frame3 {
  grid-row: 6 / span 1;
}
.main__section-two-description3 {
  grid-row: 7 / span 1;
}

/*-----------grid section3------------*/

.main__section-three {
  grid-template-rows: repeat(12, auto);
  grid-template-columns: 375px;
}

.main__section-three-title {
  grid-row: 1 / span 1;
}

.main__section-three-title-with-colored-frame1 {
  grid-row: 2 / span 1;
}

.main__section-three-title-with-colored-frame2 {
  grid-row: 3 / span 1;
}

.main__section-three-description2 {
  grid-row: 4 / span 1;
}

.main__section-three-title-with-colored-frame3 {
  grid-row: 5 / span 1;
}

.main__section-three-description3 {
  grid-row: 6 / span 1;
}

.main__section-three-title-with-colored-frame4 {
  grid-row: 7 / span 1;
}

.main__section-three-description4 {
  grid-row: 8 / span 1;
}

.main__section-three-title-with-colored-frame5 {
  grid-row: 9 / span 1;
}

.main__section-three-description5 {
  grid-row: 10 / span 1;
}

.main__section-three-title-with-colored-frame6 {
  grid-row: 11 / span 1;
}

.main__section-three-description6 {
  grid-row: 12 / span 1;
}

/*-----------grid section4------------*/

.main__section-four {
  grid-template-columns: 355px;
  grid-template-rows: repeat(6, auto);
  gap: 10px;
}

.main__section-four-title-with-colored-frame {
  grid-row: 1 / span 1;
}

.image1 {
  grid-row: 2 / span 1;
}

.image2 {
  grid-row: 3 / span 1;
}

.image3 {
  grid-row: 4 / span 1;
}

.image4 {
  grid-row: 5 / span 1;
}

.image5 {
  grid-row: 6 / span 1;
}

.main__section-three-title,
.main__section-two-title,
.main__section-one-title {
  width: 375px;
  color: var(--section-color-title);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0.6px;
}

.main__section-one-title-with-colored-frame1,
.main__section-one-title-with-colored-frame2,
.main__section-two-title-with-colored-frame1,
.main__section-two-title-with-colored-frame2,
.main__section-two-title-with-colored-frame3,
.main__section-three-title-with-colored-frame1,
.main__section-three-title-with-colored-frame2,
.main__section-three-title-with-colored-frame3,
.main__section-three-title-with-colored-frame4,
.main__section-three-title-with-colored-frame5,
.main__section-three-title-with-colored-frame6,
.main__section-four-title-with-colored-frame {
  width: 355px;
  color: var(--section-color-title-frame);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--section-color-frame);
}

.main__section-one-description1,
.main__section-one-description2,
.main__section-two-description1,
.main__section-two-description2,
.main__section-two-description3,
.main__section-three-description2,
.main__section-three-description3,
.main__section-three-description4,
.main__section-three-description5,
.main__section-three-description6 {
  width: 375px;
  color:var(--text-description-color);
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
}

.image1,
.image2,
.image3,
.image4,
.image5 {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

/*-------margins section1---------*/

.main__section-one-title {
  height: 100px;
  margin-top: 30px;
}
.main__section-one-title-with-colored-frame1 {
  height: 23px;
  margin-top: -46px;
}
.main__section-one-description1 {
  margin-top: -18px;
  line-height: 25.2px;
}
.main__section-one-title-with-colored-frame2 {
  height: 23px;
  margin-top: -1px;
}
.main__section-one-description2 {
  margin-top: -7px;
  line-height: 25px;
}

/*---------------margins section2------------*/

.main__section-two-title {
  margin-top: 12px;
}

.main__section-two-title-with-colored-frame1 {
  margin-top: 3px;
}

.main__section-two-description1 {
  margin-top: -5px;
}

.main__section-two-title-with-colored-frame2 {
  margin-top: 3px;
}

.main__section-two-description2 {
  margin-top: -6px;
}

.main__section-two-title-with-colored-frame3 {
  margin-top: 5px;
}

.main__section-two-description3 {
  margin-top: -6px;
  line-height: 25px;
}

/*-----------margins section3-----------*/

.main__section-three-title {
  margin-top: 13px;
}

.main__section-three-title-with-colored-frame1 {
  margin-top: 5px;
}

.main__section-three-title-with-colored-frame2 {
  margin-top: -4px;
}

.main__section-three-description2 {
  margin-top: -2px;
  line-height: 25px;
}

.main__section-three-title-with-colored-frame3 {
  margin-top: -2px;
}

.main__section-three-description3 {
  margin-top: -6px;
  line-height: 26.2px;
}

.main__section-three-title-with-colored-frame4 {
  margin-top: -2px;
}

.main__section-three-description4 {
  margin-top: -6px;
  line-height: 27.2px;
}

.main__section-three-title-with-colored-frame5 {
  margin-top: -2px;
}

.main__section-three-description5 {
  margin-top: -6px;
  line-height: 26.4px;
}

.main__section-three-title-with-colored-frame6 {
  margin-top: 2px;
}

.main__section-three-description6 {
  margin-top: -9px;
  line-height: 23.4px;
}

.font-weight_no-bold {
  font-weight: 400;
  font-size: 18px;
}

/*------------margins section4-----------*/
.main__section-four-title-with-colored-frame {
  margin-bottom: -3px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  min-width: 385px;
  /* max-width: 768px; */
  height: 668px;
  margin-top: 28px;
  background-color: var(--bcg-color);
}

.footer__title {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  margin-top: 288px;
  margin-left: 14px;
  color: var(--title-color);
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 86.5%;
  text-shadow: 4px 4px 0px var(--shadow-color);
}

/*----------------------------@media 768px--------------------------*/

@media (width >= 768px) {
  .header {
    min-width: 768px;
    max-width: 1024px;
    height: 1024px;
  }

  .decorative-frame::before {
    top: 8px;
  }

  .decorative-frame::after {
    bottom: 7px;
    left: 8px;
  }

  .header__decorated-element {
    margin-top: 23px;
  }

  .header__decorated-element::after {
    top: 1px;
    right: -15px;
  }

  .header__nav {
    margin-top: -83px;
  }

  .header__theme-menu-item {
    padding-bottom: 9px;
  }

  .header__title {
    margin-top: -49px;
    margin-left: 2px;
  }

  .header__text {
    width: 361px;
    margin: -43px 0 10px 385px;
  }

  /*----------------------@media for section1 768px-------------------*/
  .main__section-one {
    grid-template-columns: 236px 472px;
    grid-template-rows: repeat(4, auto);
  }

  .main__section-one-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    max-width: 100%;
    margin-top: 52px;
    margin-left: 9px;
  }

  .main__section-one-title-with-colored-frame1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    margin-top: 49px;
    margin-left: 31px;
  }

  .main__section-one-description1 {
    grid-column: 2 / span 1;
    grid-row: 2 / 1 span;
    width: 100%;
    margin-top: -85px;
    margin-left: 31px;
    line-height: 23.5px;
  }

  .main__section-one-title-with-colored-frame2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    margin-top: 217px;
    margin-left: 32px;
  }

  .main__section-one-description2 {
    grid-column: 2 / span 1;
    grid-row: 3 / 1 span;
    width: 100%;
    margin-top: -7px;
    margin-left: 31px;
    line-height: 23.5px;
  }

  /*----------------@media for section2 768px--------*/

  .main__section-two {
    grid-template-columns: 236px 471px;
    grid-template-rows: repeat(7, auto);
    gap: 20px;
  }

  .main__section-two-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    margin-top: 39px;
    margin-left: 10px;
  }

  .main__section-two-title-with-colored-frame1 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    width: 100%;
    margin-top: -13px;
    margin-left: 10px;
  }

  .main__section-two-description1 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    width: 100%;
    margin-top: -27px;
    margin-left: 10px;
  }

  .main__section-two-title-with-colored-frame2 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    width: 100%;
    margin-top: -17px;
    margin-left: 10px;
  }

  .main__section-two-description2 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    width: 100%;
    margin-top: -27px;
    margin-left: 10px;
  }

  .main__section-two-title-with-colored-frame3 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 1;
    width: 100%;
    margin-top: -16px;
    margin-left: 10px;
  }

  .main__section-two-description3 {
    grid-column: 1 / span 2;
    grid-row: 7 / span 1;
    width: 100%;
    margin-top: -27px;
    margin-left: 10px;
    line-height: 23px;
  }

  /*----------------------@media for section3 768px--------------------*/

  .main__section-three {
    grid-template-columns: 266px 472px;
    grid-template-rows: repeat(11, auto);
  }

  .main__section-three-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    margin-top: 42px;
    margin-left: 10px;
  }

  .main__section-three-title-with-colored-frame1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    width: 100%;
    height: 25px;
    margin-top: 41px;
  }

  .main__section-three-title-with-colored-frame2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    height: 25px;
    margin-top: -66px;
  }

  .main__section-three-description2 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    width: 100%;
    margin-top: -30px;
    line-height: 23.4px;
  }

  .main__section-three-title-with-colored-frame3 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    width: 100%;
    margin-top: 2px;
  }

  .main__section-three-description3 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    width: 100%;
    margin-top: -9px;
    line-height: 23.4px;
  }

  .main__section-three-title-with-colored-frame4 {
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
    width: 100%;
    margin-top: 2px;
  }

  .main__section-three-description4 {
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    width: 100%;
    margin-top: -9px;
    line-height: 23.4px;
  }

  .main__section-three-title-with-colored-frame5 {
    grid-column: 2 / span 1;
    grid-row: 8 / span 1;
    width: 100%;
    margin-top: 2px;
  }

  .main__section-three-description5 {
    grid-column: 2 / span 1;
    grid-row: 9 / span 1;
    width: 100%;
    margin-top: -5px;
    line-height: 23.4px;
  }

  .main__section-three-title-with-colored-frame6 {
    grid-column: 2 / span 1;
    grid-row: 10 / span 1;
    width: 100%;
    margin-top: 2px;
  }

  .main__section-three-description6 {
    grid-column: 2 / span 1;
    grid-row: 11 / span 1;
    width: 100%;
    height: 25px;
    margin-top: -9px;
    line-height: 23.4px;
  }

  /*-----------------------@media for section4 768px--------------*/
  .main__section-four {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    max-width: 728px;
    padding-left: 20px;
  }

  .main__section-four-title-with-colored-frame {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    width: 100%;
    margin-top: 159px;
    margin-bottom: 2px;
  }

  .image1,
  .image2,
  .image3,
  .image4,
  .image5 {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image1 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }

  .image2 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
  }

  .image3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
  }

  .image4 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  .image5 {
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
  }

  /*------------------@media for footer 768px----------------------*/

  .footer {
    width: 100%;
    height: 1024px;
    margin-top: 48px;
  }

  .footer__title {
    margin-top: 462px;
    margin-left: 200px;
  }
}

/*------------------------------@media 1024px------------------------*/

@media (width >= 1024px) {
  .header {
    max-width: 1024px;
    height: 768px;
  }

  /* .decorative-frame::before {
    top: 8px;
    right: -235px;
  } */

  .header__nav {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: end;
    margin-top: 2px;
    margin-right: -109px;
    padding: 0;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 22px;
  }

  .header__title {
    grid-column: 1 / span 4;
    grid-row: 3 / span 1;
    margin-top: -68px;
    margin-left: 1px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-column: 3 / span 2;
    grid-row: 4 / span 1;
    width: 491px;
    height: 70px;
    margin: -13px 0 0 0;
  }

  /*-----------------------@media for section 1024px--------------------------*/

  .main__section-one {
    grid-template-columns: 314px 648px;
    grid-template-rows: repeat(4, auto);
  }

  .main__section-one-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    max-width: 100%;
    margin-top: 49px;
    margin-left: 9px;
    word-spacing: -7px;
  }

  .main__section-one-description1 {
    margin-top: -82px;
  }

  .main__section-one-title-with-colored-frame2 {
    grid-row: 3 / span 1;
    margin-top: 4px;
  }

  .main__section-one-description2 {
    grid-row: 4 / 1 span;
    margin-top: -9px;
  }

  /*----------------@media for section2 1024px--------*/

  .main__section-two {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 985px;
    height: 498px;
  }

  .main__section-two-title {
    margin-top: 42px;
    word-spacing: -7px;
  }

  .main__section-two-title-with-colored-frame1 {
    grid-column: 1 / span 1;
  }

  .main__section-two-description1 {
    grid-column: 1 / span 1;
  }

  .main__section-two-title-with-colored-frame2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .main__section-two-description2 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  .main__section-two-title-with-colored-frame3 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  .main__section-two-description3 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    width: 100%;
    margin-top: -27px;
    margin-left: 10px;
    line-height: 23px;
  }

  /*----------------------@media for section3 1024px--------------------*/

  .main__section-three {
    grid-template-columns: 347px 647px;
    grid-template-rows: repeat(11, auto);
  }

  .main__section-three-title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    margin-top: 101px;
  }

  .main__section-three-title-with-colored-frame1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin-top: 101px;
  }

  .main__section-three-title-with-colored-frame2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    margin-top: -1px;
  }

  .main__section-three-description2 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    margin-top: -8px;
    line-height: 23.4px;
  }

  /*-----------------------@media for section4 1024px--------------*/

  .main__section-four {
    max-width: 984px;
  }

  .main__section-four-title-with-colored-frame {
    margin-top: 134px;
  }

  /*------------------@media for footer 1024px----------------------*/

  .footer {
    width: 1024px;
    height: 768px;
    margin-top: 48px;
  }

  .footer__title {
    margin-top: 316px;
    margin-left: 279px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
